@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.matrix-text {
	font-family: 'Share Tech Mono', monospace;
	width: 1ch;
	color: lime;
	word-break: break-all;
	animation: word-zoom 20s cubic-bezier(0.13, 0.93, 0, 1.06) forwards;
	position: absolute;
}

body {
	position: relative;
	width: 100vw;
	height: 100vh;
}

#main {
	width: 100vw;
	height: 95vh;
	position: absolute;
	bottom: 0;
	background: black;
	overflow: hidden;
}

#main .progress {
	font-size: 72px;
	color: lime;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}